@import"../../../node_modules/bulma/sass/grid/columns.sass";
@import"../../../node_modules/bulma/sass/elements/form.sass";
@import"../../../node_modules/bulma/sass/elements/button.sass";


label{
    margin-left: 165px;

}
.field{
    margin:20px auto;
    width:600px;
}

#bodyy{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VvGXRm-hlilcbm235/abstract-background-with-dots-and-lines-abstract-network-animation-communications-connect_hicjetq__F0000.png");
}

#formee{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VvGXRm-hlilcbm235/abstract-background-with-dots-and-lines-abstract-network-animation-communications-connect_hicjetq__F0000.png");
}

h1{
    font-size: 25px; 
}

.button{
    width:200px;  
    
}
#IdButton{
    margin-left: 550px; 
}

#ajouter{
    margin-left: 37%;
}

#ajouter{
    margin-left: 45%;
}

#row{
    margin-left: 20px;
    margin-right: 20px; 
}

.input{
width: 600px;
}

legend{
    font-size: 25px;
}

#butt{
    margin-left: 35%;
}

